<!DOCTYPE html>
<head>
    <title></title>
</head>
<body>
    <h1 style="text-align: center;">You Searched for : stuff</h1>
    <ul style="text-align: center">
    <li style="text-align: center ;">dummy text</li>
    <li style="text-align:center ;">dummy text</li>
    <li style="text-align:center ;">dummy text</li>
    </ul>
</body>